<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <table class="table">
        <a th:href="@{/new}" class="btn btn-primary">Volver</a>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Carrera</th>
            <th>Codigo</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="carrera:${carreras}">
            <td th:text="${carrera.id}"></td>
            <td th:text="${carrera.nombreCarrera}"></td>
            <td th:text="${carrera.codigo}"></td>
            <td>
                <a class="btn btn-warning">Editar</a>
                <a class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>